@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;900&family=Titillium+Web:wght@400;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

.hello {
  background: rgb(0, 89, 255);

  color: white;
  padding: 10px 50px;
  margin: 10px 20px;
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  line-height: 50px;
  letter-spacing: 15px;
  font-family: "Montserrat", "Arial";
  border: solid 5px black;
  border-radius: 2000px;
  height: 400px;
  width: 400px;
}
body {
  background: rgb(205, 239, 255);
}

.bell-icon {
  color: red;
}
