* {
  padding: 0;
  margin: 0;
}

body {
  background: lightblue;
}

.card {
  width: 30vw;
  background: white;
  margin: 10px;
  padding: 10px;
  padding-bottom: 30px;
  border-radius: 8px;
  position: relative;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card button {
  background: rgb(0, 47, 255);
  outline: none;
  border: none;
  padding: 6px 10px;
  margin-top: 10px;
  color: #fff;
  transform: rotate(0) scale(1);
  transition: 0.5s ease-in-out all;
}
.card button:hover {
  transform: rotate(60deg) scale(1.2);
  transition: 0.5s ease-in-out all;
}

.navbar {
  background: blue;
  position: fixed;
  width: 100vw;
  z-index: 9;
}

.wrapper {
  position: absolute;
  z-index: 10;
  top: 50px;
}

.card:hover {
  transition: 0.5s ease-in-out all;
}

.card:hover .overlay {
  position: absolute;
  z-index: 12;
  background: red;
  border-radius: 8px;
  height: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.5s ease-in-out all;
  z-index: -1;
  transform: translateX(10px) translateY(10px);
}

.box {
  width: 50px;
  height: 50px;
  background: green;
  position: absolute;
  z-index: 100;
  animation: animation1 5s infinite;
}

@keyframes animation1 {
  0% {
    background: red;
    top: 0;
    transform: translateX(0) translateY(0);
  }
  25% {
    background: yellow;
    right: 0;

    transform: translateX(0) translateY(100%);
  }
  50% {
    background: blue;
    transform: translateX(100%) translateY(100%);
  }
  100% {
    background: red;

    transform: translateX(0) translateY(100%);
  }
}
