.header {
  background: #dde5f0;
}

.icon {
  height: 40px;
  width: 40px;
  border: 1px solid blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
